<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.wizardtricks.SorcererSupreme" android:versionCode="1" android:versionName="Sorcerer Supreme Beta" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="SorcererSupreme" android:icon="@drawable/profile_generic"></application>
</manifest>